@model HomeViewModel;
@{
    ViewData["Title"] = "Pizza!";
}

<div class="text-center">
    <h1 class="display-4">Build your pizza</h1>
</div>

<div class="row">
    <div class="col-12">
        <form asp-controller="Orders" asp-action="Order">
            <div class="row">
                <div class="col-6">
                <table>
                    <thead>
                    <th>Topping</th>
                    <th>Price</th>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.Toppings.Count; i++)
                    {
                        <tr>
                            <td>
                                <label class="form-check-label" style="margin-right: 3em">
                                <input class="form-check-input" type="checkbox"
                                       asp-for="Toppings[i].Selected"/>
                                    @Model.Toppings[i].Name
                                </label>
                                <input type="hidden" asp-for="Toppings[i].Id"/>
                            </td>
                            <td>@Model.Toppings[i].Price.ToString("C")</td>
                        </tr>
                    }
                    </tbody>
                </table>
                </div>
                <div class="col-6">
                <table>
                    <thead>
                    <th>Crust</th>
                    <th>Price</th>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.Crusts.Count; i++)
                    {
                        <tr>
                            <td>
                                <label class="form-check-label" style="margin-right: 3em">
                                    <input class="form-check-input" type="radio" value="@Model.Crusts[i].Id"
                                           asp-for="SelectedCrust"/>
                                    @Model.Crusts[i].Size&quot; @Model.Crusts[i].Name
                                </label>
                            </td>
                            <td>@Model.Crusts[i].Price.ToString("C")</td>
                        </tr>
                    }
                    </tbody>
                </table>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Place order</button>
        </form>
    </div>
</div>